@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #131313;
    color: seashell;


}
h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
div.media-picture{
    background-image: url(https://imgs.jusbr.com/publications/images/f1d663c8541799561b81179c61fd5465);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
span.review-score{
    color: white;
    padding: 12px;
    background-color: #e6bd09;
}
h2{
    color: steelblue;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #bdbdbd;

}
a{
    color: yellow;
}